# Virtual environment folders
.venv/
venv/

# VS Code settings
.vscode/

# Logs
*.log

# Environment variables
.env

#databases
nfl_odds.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so